<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Loan Creator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Create Loan</h1>
        <form action="/loan/create" method="POST" id="create-edit">
            <label>Loan Amount</label>
            <input type="text" id="amount" name="amount" value="<%= loan.amount || '' %>">
            <label>Interest Rate</label>
            <input type="text" id="interestRate" name="interestRate" value="<%= loan.interestRate || '' %>">
            <label>Length of Loan in Months</label>
            <input type="text" id="loanLength" name="loanLength" value="<%= loan.loanLength || '' %>">
            <label>Monthly Payment</label>
            <input type="text" id="monthlyPayment" name="monthlyPayment" value="<%= loan.monthlyPayment || '' %>">
			<input style="display: none" id="loanID" name="id" value="<%= loan._id || '' %>">
            <button id="submit">Save Loan</button>
        </form>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>